body {
	margin: 0 auto;
	background-color: grey;
}
#page-main>ul {
	text-align: center;
}
#page-main>ul>li {
	list-style: none;
	display: inline-block;
	width: 20%;
	border: 1px solid grey;
	margin: 5px;
	box-sizing: border-box;
}
#page-main>ul>li>img {
	width: 100%;
	height: 140px;
}
.container {
	width: 95%;
	margin: 0 auto;
	background-color: white;
}
.page-header {
	width: 100%;
	height: 100px;
	text-align: center;
}
.logo-sale {
	display: inline-block;
}
.logo-sale>span {
	font-size: 41px;
  font-weight: bold;
}
.logo-sale>a>img {
	height: 75px;
}
.shopping-cart {
	display: inline-block;
	float: right;
}
.shopping-cart>button>img {
	height: 50px;
}
#page-main {
	width: 100%;
	display: inline-block;
	background-color: #4ab7c321;
}
.add-to-card {
	background-color: pink;
	color: black;
	margin: 10px;
}
.add-to-card:disabled {
 cursor: not-allowed;
 background-color: grey;
}
.page-footer {
	width: 100%;
	height: 50px;
	background-color: gray;
}

.section-shopping-cart {
  padding: 50px;
}
.section-shopping-cart table {
  width: 100%;
}
.section-shopping-cart th, td {
  padding: 10px 0;
}
.table img {
  width: 200px;
  height: 200px;